APP_NAME=KargoMneKadar
APP_ENV=production
APP_KEY=base64:vBhP9ww3oj3+TAZ2vtWhBeJ5ZoxyK38Cpep4vSVBM3w=
APP_DEBUG=false
APP_URL=http://kargomnekadar.test

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kargom
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

YURTICI_LOCATIONS_URL=
YURTICI_LOCATIONS_METHOD=
YURTICI_CALCULATION_URL=
YURTICI_CALCULATION_METHOD=


MNG_LOCATIONS_URL=
MNG_LOCATIONS_METHOD=
MNG_CALCULATION_URL=
MNG_CALCULATION_METHOD=


UPS_LOCATIONS_URL=
UPS_CALCULATION_URL=
UPS_LOCATIONS_METHOD=
UPS_CALCULATION_METHOD=
UPS_VIEWSTATE=
UPS_EVENTVALIDATION=


ARAS_LOCATIONS_URL=
ARAS_LOCATIONS_METHOD=
ARAS_CALCULATION_URL=
ARAS_CALCULATION_METHOD=
